.u-section-1 .u-sheet-1 {
  min-height: 584px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: uppercase;
  width: 429px;
  margin: 44px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 13px 702px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 13px 570px 0 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 91px;
  height: auto;
  margin: -435px 70px 344px 570px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 383px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 502px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 370px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 440px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 282px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 150px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 102px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 582px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 19px 745px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 8px 570px 0 0;
}

.u-section-2 .u-custom-html-1 {
  min-height: 91px;
  margin: -475px 70px 384px 570px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 545px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-2 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 440px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 325px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 145px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 688px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  margin: 21px 761px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 570px 0 0;
}

.u-section-3 .u-custom-html-1 {
  min-height: 91px;
  margin: -538px 70px 447px 590px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 561px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-3 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 460px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 341px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-left: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 161px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-1 {
    margin-left: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-1 {
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 476px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  width: 550px;
  margin: 21px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 21px 740px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 570px 0 0;
}

.u-section-4 .u-custom-html-1 {
  min-height: 91px;
  margin: -299px 71px 208px 570px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 540px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 370px;
  }

  .u-section-4 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 441px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 320px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 150px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-left: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 140px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-custom-html-1 {
    margin-left: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-custom-html-1 {
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 490px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 17px 699px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 19px 570px 0 0;
}

.u-section-5 .u-custom-html-1 {
  min-height: 91px;
  margin: -384px 71px 293px 570px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 499px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-5 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 441px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 279px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-left: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 99px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-custom-html-1 {
    margin-left: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-custom-html-1 {
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 405px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 20px 527px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 570px 0 0;
}

.u-section-6 .u-custom-html-1 {
  min-height: 91px;
  margin: -179px 70px 88px 570px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 327px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-6 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 440px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 107px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-6 .u-custom-html-1 {
    margin-left: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-custom-html-1 {
    margin-left: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-custom-html-1 {
    margin-left: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 572px;
}

.u-section-7 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 31px 365px 0 401px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 15px 757px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 570px 0 0;
}

.u-section-7 .u-custom-html-1 {
  min-height: 91px;
  height: auto;
  margin: -410px 94px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    width: 338px;
    margin-left: 301px;
    margin-right: 265px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 557px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 370px;
  }

  .u-section-7 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 464px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-left: 191px;
    margin-right: 155px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 337px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 150px;
  }

  .u-section-7 .u-custom-html-1 {
    margin-left: 244px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-left: 101px;
    margin-right: 65px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 157px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-custom-html-1 {
    margin-left: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-custom-html-1 {
    margin-left: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 562px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 21px 761px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 21px 570px 0 0;
}

.u-section-8 .u-custom-html-1 {
  min-height: 91px;
  margin: -512px 70px 421px 570px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 561px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-8 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 440px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 341px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-8 .u-custom-html-1 {
    margin-left: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-right: 161px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }

  .u-section-8 .u-custom-html-1 {
    margin-left: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-custom-html-1 {
    margin-left: 0;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 638px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 21px 588px 0 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 570px 0 0;
}

.u-section-9 .u-custom-html-1 {
  min-height: 91px;
  margin: -537px 71px 446px 570px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-right: 388px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-9 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 441px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-right: 168px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-9 .u-custom-html-1 {
    margin-left: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }

  .u-section-9 .u-custom-html-1 {
    margin-left: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-custom-html-1 {
    margin-left: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 781px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  text-transform: uppercase;
  width: 345px;
  margin: 32px auto 0;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 18px 617px 0 0;
}

.u-section-10 .u-text-3 {
  margin: 0 570px 0 0;
}

.u-section-10 .u-custom-html-1 {
  min-height: 91px;
  height: auto;
  margin: -653px 72px 562px 570px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-2 {
    margin-right: 417px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 370px;
  }

  .u-section-10 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 442px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-2 {
    margin-right: 197px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 150px;
  }

  .u-section-10 .u-custom-html-1 {
    margin-left: 222px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-2 {
    margin-right: 17px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 0;
  }

  .u-section-10 .u-custom-html-1 {
    margin-left: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    width: 340px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
  }

  .u-section-10 .u-custom-html-1 {
    margin-left: 0;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 437px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 22px 534px 0 -1px;
}

.u-section-11 .u-text-2 {
  margin: 22px 570px 0 0;
}

.u-section-11 .u-custom-html-1 {
  min-height: 91px;
  margin: -333px 71px 242px 570px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    margin-right: 434px;
  }

  .u-section-11 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 441px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    margin-right: 324px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 350px;
  }

  .u-section-11 .u-custom-html-1 {
    margin-left: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    margin-right: 234px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 170px;
  }

  .u-section-11 .u-custom-html-1 {
    margin-left: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    margin-right: 134px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 0;
  }

  .u-section-11 .u-custom-html-1 {
    margin-left: 0;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 550px;
}

.u-section-12 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 162px 663px 0 0;
}

.u-section-12 .u-text-2 {
  margin: 20px 570px 0 0;
}

.u-section-12 .u-custom-html-1 {
  min-height: 91px;
  margin: -333px 71px 242px 570px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-right: 463px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-12 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 441px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-text-1 {
    margin-right: 243px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-12 .u-custom-html-1 {
    margin-left: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    margin-right: 63px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 0;
  }

  .u-section-12 .u-custom-html-1 {
    margin-left: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-text-1 {
    margin-right: 0;
  }

  .u-section-12 .u-custom-html-1 {
    margin-left: 0;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 500px;
}

.u-section-13 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 498px;
  margin: 26px auto 0;
}

.u-section-13 .u-text-2 {
  margin: 26px 26px 60px 89px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-2 {
    width: 498px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-text-1 {
    width: 340px;
  }

  .u-section-13 .u-text-2 {
    width: 340px;
  }
}